<!DOCTYPE html>
<html>
    <head>
        <title>Spring Security Example </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css" href="resources/css/reset.css">
        <link rel="stylesheet" type="text/css" href="resources/css/structure.css">

<style>
     body {
    background-color: lightblue;

}

.header {
    background-color: #F1F1F1;
    text-align: Left;
    padding: 20px;
    font-size: 20px;

}

h1 {
    text-shadow: 2px 2px 5px grey;
    /*background-color: CornflowerBlue;*/
    color: white;
    text-align: left;
    margin-left: 20px;
    /*box-shadow: 1px 2px 10px 5px grey;*/

}
h2 {


    color: white;
    text-align: left;
    margin-left: 0px;


}

p {
    /*border-style: solid;
    border-width: 1px;*/
}
.button {
    background-color: LightGray;
    border-radius: 5px;
    //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: LightGray;
    color: black;
    border: 2px solid LightBlue;
}

.button1:hover {
    background-color: orange;
    color: white;
}
.center {
    margin: auto;
    width: 50%;

    padding: 10px;
}
.center1 {
  padding: 50px 0;
    margin: auto;
    width: 500px;
border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
    position: absolute;
    left: 10px;
    top: 200px;
    z-index: -1;

}
div.absolute {
    position: absolute;
    top: 50;
    right: 100;
    left: 500;

    width: 500px;

}

.block {
  text-align: left;
 padding-left: 150px;

}
input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 1px 0;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 1px 0;
    box-sizing: border-box;
    font-size: 20px;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}




</style>

</head>
    <body>



    <br>
    <div class="center1 header ">


        <form action="/login" method="post">
            <div class="center"><label> Username: <input type="text" name="username" required/> </label></div>
            <div class="center"><label> Password: <div>forgot?</div><input type="password" name="password" required/> </label></div>

            <div class="center"><input class="button button1" type="submit" value="Log In"/></div>
            <div class="block">
                <input type="checkbox" name="loggedin" value="loggedin">Keep me logged in<br></div>
        </form>
    </div>
    </body>
</html>


