<!DOCTYPE HTML>


<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
h1 {
    color: #008CBA;
    text-align: center;
}
p.serif {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #dddddd;
    text-align: left;
    padding: 8px;


}
table {
    width: 50%;
    border-spacing: 5px;
    margin: auto;
}
body {
    background-color: lightblue;

}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
}
input[type=date] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.item1 { grid-area: header;}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'menu main main main main right'
            'footer footer footer footer footer footer';
    grid-gap: 3px;
    background-color: lightgrey;
    padding: 10px;
    grid-template-rows: 200px auto;

}
.grid-container > div {
    background-color: aliceblue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}
 /*the container must be positioned relative:*/
.select {
  position: relative;
  font-family: Arial;
}
.select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

</style>
    </head>



<body>
    <div class="grid-container">
     <div class = "item1">Working Time


     </div>



    <div class="item2">
        .......
        <br>
       <div>
        <form action="/main" method="post">
            Date:
            <br>
            no
            <br>
            <input type="date" name="dateFrom", required="true">
            <br>
            lidz
            <br>
            <input type="date" name="dateTill", required="true">
            <br>
            Person:
            <br>
            <select name="personIdList" multiple size="10" required="true" style="width:200px;" >
                {{#person}}
                    <option value="{{PersonId}}">{{PersonId}}. {{FirstName}} {{LastName}}</option>
                {{/person}}
            </select>
<br>
            Dept.:
            <br>
            <select name="personIdList" multiple size="10" required="true" style="width:200px;" >
                {{#orgunits}}
                    <option value="{{OrgUnitId}}">{{OrgUnitId}}. {{OrgUnitName}}</option>
                {{/orgunits}}
            </select>
            <br>

            <input type="submit"> <input type="reset">
        </form>
           <div>

           </div>
</div>

    </div>



    <div class="item3">

        <!--<form method="post">

            <input type="text" name="name" placeholder="firstname"/>
            <input type="text" name="email" placeholder="lastname"/>
            <button class="button" type="submit">Enter</button>

        </form>-->
<div>
{{#result}}
    <div>{{date}}</div>
    <div class="tooltip">{{DeviceId}}
        <span class="tooltiptext">testik</span>
    </div>

{{/result}}
</div>
        <table>
            <tr>
                <th>code</th>
                <th></th>
                <th>email</th>
            </tr>




                <tr>
                    <td><b></b></td>
                    <td><b></b></td>
                </tr>



        </table>

        <div><p>Click the button to print the current page.</p>

            <button onclick="myFunction()">Print this page</button>

            <script>
function myFunction() {
    window.print();
}

</script></div>
    </div>
        <div class="item4">RIGHT
            <form action="/index" method="get">

                <div class="container" style="background-color:#f1f1f1">
                    <button type="submit" class="cancelbtn" name="param" value="logout">Logout</button>

                </div>

            </form>
        </div>
    <div class="item5">FOOTER
    </div>

    </div>

            </body>



</html>